@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monofett&family=Nova+Flat&family=Space+Grotesk:wght@600&family=Space+Mono:wght@700&display=swap");
* {
  font-family: "Nova Flat";
  margin: 0;
  padding: 0;
  cursor: crosshair;
  font-size: 17px;
}

a {
  text-decoration: none;
}

.gone {
  display: none;
}

.not-gone {
  display: block;
}

.end-message {
  padding: 20px 30px 12px 30px;
  font-family: Space Grotesk;
  font-size: 20px;
  color: #575757;
  text-align: center;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 15fr 1fr;
  background-image: url("./pics/pastgrad.jpg");
  background-size: 2160px;
}
body h1 {
  margin-top: 10px;
  text-align: center;
}
body h1 img {
  border-radius: 55px;
  height: auto;
  width: 150px;
}
body .infobar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #3D426B;
}
body .start-.target {
  text-align: center;
  width: 100%;
}
body .bottom-nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body .grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .grid .grid-in-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 90%;
  height: 90%;
  gap: 15%;
}
body .grid .grid-in-grid .target {
  border-radius: 100%;
  height: 75px;
  width: 75px;
  background: radial-gradient(circle at 35% 35%, #85A1F2, #9063CD);
  margin: auto;
}
body .grid .grid-in-grid .desktop {
  display: none;
}

.button-49,
.button-49:after {
  width: 90px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-family: "Nova Flat";
  background: linear-gradient(45deg, transparent 5%, #C3B1E1 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 4px 0px 0px #779ecb;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "help";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #89f5ad 5%);
  text-shadow: -3px -3px 0px #B1A2CA, 3px 3px 0px #78ce78;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

.button-49:disabled,
button[disabled] {
  opacity: 50%;
}

.exit-link {
  font-size: 13px;
}
.exit-link a {
  text-decoration: none;
}

h2, h3, h4 {
  text-align: center;
  color: white;
  padding: 0px 15px 0px 15px;
  margin: 0px;
  border: 3px #f8f8f8 solid;
}

.gradient-border {
  --borderWidth: 3px;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #FFCCCB, #D198B7, #dea5a4, #966fd6, #779ecb, #A7C7E7, #89CFF0, #ADD8E6);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 5s ease alternate infinite;
  background-size: 200% 200%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
@supports (-webkit-touch-callout: none) {
  .gradient-border:after {
    animation: none;
  }
}
@media screen and (orientation: portrait) and (max-width: 540px) {
  body {
    background-image: url("./pics/abstract vector.jpg");
    background-size: 820px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 10fr 1fr;
  }
  body .infobar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  body .infobar h2, body .infobar h3, body .infobar h4 {
    font-size: 17px;
    margin: 0px;
    text-align: left;
    padding: none;
  }
  body .grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body .grid .grid-in-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 85%;
    height: 85%;
    gap: 10%;
  }
  body .grid .grid-in-grid .target {
    border-radius: 100%;
    height: 75px;
    width: 75px;
    background: radial-gradient(circle at 30% 30%, #5cabff, #8e7faa);
  }
  body .grid .grid-in-grid .desktop {
    display: none;
  }
  body .start, body .resett {
    font-size: 20px;
    margin-bottom: 0;
  }
  body .exit-link {
    font-size: 13px;
  }
}
@media screen and (orientation: portrait) and (min-width: 540px) {
  body {
    background-image: url("./pics/abstract vector.jpg");
    background-size: 820px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 10fr 1fr;
  }
  body h1 img {
    height: auto;
    width: 200px;
  }
  body .infobar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  body .infobar h2, body .infobar h3, body .infobar h4 {
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  body .grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body .grid .grid-in-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 85%;
    height: 85%;
    gap: 10%;
  }
  body .grid .grid-in-grid .target {
    border-radius: 100%;
    height: 75px;
    width: 75px;
    background: radial-gradient(circle at 30% 30%, #5cabff, #8e7faa);
  }
  body .grid .grid-in-grid .desktop {
    display: unset !important;
  }
  body .start, body .resett {
    font-size: 30px;
    margin-bottom: 0;
  }
  body .exit-link {
    font-size: 25px;
  }
  body .button-49,
body .button-49:after {
    width: 150px;
    height: 65px;
    line-height: 65px;
  }
}
@media screen and (min-width: 700px) {
  body h1 img {
    height: auto;
    width: 200px;
  }
  body h2, body h3, body h4 {
    font-size: 20px;
  }
}
@media screen and (min-width: 900px) {
  body h1 img {
    height: auto;
    width: 225px;
  }
  body h2, body h3, body h4 {
    font-size: 35px;
    margin-left: 5px;
    margin-right: 5px;
  }
  body .start, body .resett {
    font-size: 35px;
  }
  body .exit-link {
    font-size: 20px;
  }

  .button-49,
.button-49:after {
    width: 150px;
    height: 65px;
    line-height: 65px;
  }
}
@media screen and (orientation: landscape) and (min-width: 1080px) {
  h1 img {
    height: auto;
    width: 250px;
  }

  h2, h3, h4 {
    font-size: 30px;
  }

  .start, .resett {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .button-49,
.button-49:after {
    width: 135px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 0;
  }

  .grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .grid .grid-in-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    height: 90%;
    gap: 15%;
  }
  .grid .grid-in-grid .target {
    border-radius: 100%;
    height: 75px;
    width: 75px;
    background: radial-gradient(circle at 30% 30%, #5cabff, #8e7faa);
    margin: auto;
  }
  .grid .grid-in-grid .desktop {
    display: unset !important;
  }
}
@media screen and (orientation: landscape) and (min-height: 550px) {
  h2, h3, h4 {
    font-size: 30px;
    width: 100%;
  }

  .start, .resett {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .exit-link {
    font-size: 20px;
  }

  .button-49,
.button-49:after {
    width: 150px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 0;
  }

  .grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .grid .grid-in-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    height: 90%;
    gap: 15%;
  }
  .grid .grid-in-grid .desktop {
    display: unset !important;
  }
}