@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    font-family: 'Russo One';
    margin: 0;
    padding: 0;
    cursor: crosshair;
    font-size: 17px;
}

.hidden {
    visibility:hidden;
}

.visible {
    visibility: visible;
}
body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 14fr 1fr;

    h1 {
        text-align: center;
    }

    // .infobar {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-around;
    // }

    .bottom-nav-bar {
        text-align: center;
    }

    .grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        height: 90%;

        .grid-in-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            // border: 1px solid black;
            width: 95%;
            height: 95%;
            gap: 15%;
    
            .target {
                border: 1px solid teal;
                background-color: aquamarine;
                border-radius: 50%;
                width: 100%;
                height: auto;
                padding-top: 100%;  
             }
             
            .desktop {
                display:none;
            }
        }
      }

}