@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&family=Space+Mono:wght@700&display=swap");
* {
  font-family: "Space Grotesk";
  margin: 0;
  padding: 0;
  cursor: crosshair;
  font-size: 17px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 15fr 1fr;
  background-image: url("./pics/pastgrad.jpg");
  background-size: 2160px;
}
body h1 {
  margin-top: 10px;
  text-align: center;
}
body h1 img {
  border-radius: 55px;
  height: auto;
  width: 150px;
}
body .infobar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #3D426B;
}
body .start-div {
  text-align: center;
  width: 100%;
}
body .bottom-nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body .bottom-nav-bar .start {
  text-align: center;
  border-radius: 30%;
  padding: 5px 12px 5px 12px;
  background: radial-gradient(circle at 100px 100px, white, #F8F0E3);
  color: #706A55;
  border: 2px solid #C4A484;
}
body .bottom-nav-bar .resett {
  text-align: center;
  border-radius: 30%;
  padding: 5px 12px 5px 12px;
  background: radial-gradient(circle at 100px 100px, white, #F8F0E3);
  color: #706A55;
  border: 2px solid #C4A484;
}
body .grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .grid .grid-in-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 90%;
  height: 90%;
  gap: 15%;
}
body .grid .grid-in-grid .target {
  border-radius: 100%;
  height: 75px;
  width: 75px;
  background: radial-gradient(circle at 100px 100px, #5cabff, #8e7faa);
  margin: auto;
}
body .grid .grid-in-grid .desktop {
  display: none;
}

@media screen and (orientation: portrait) and (max-width: 540px) {
  body {
    background-image: url("./pics/abstract vector.jpg");
    background-size: 820px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 10fr 1fr;
  }
  body .infobar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  body .infobar h2, body .infobar h3, body .infobar h4 {
    font-size: 20px;
    margin-left: 10px;
  }
  body .grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body .grid .grid-in-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 85%;
    height: 85%;
    gap: 10%;
  }
  body .grid .grid-in-grid .target {
    border-radius: 100%;
    height: 75px;
    width: 75px;
    background: radial-gradient(circle at 100px 100px, #5cabff, #8e7faa);
  }
  body .grid .grid-in-grid .desktop {
    display: none;
  }
  body .start, body .resett {
    font-size: 20px;
    margin-bottom: 0;
  }
}
@media screen and (orientation: portrait) and (min-width: 540px) {
  body {
    background-image: url("./pics/abstract vector.jpg");
    background-size: 820px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 10fr 1fr;
  }
  body h1 img {
    height: auto;
    width: 200px;
  }
  body .infobar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  body .infobar h2, body .infobar h3, body .infobar h4 {
    font-size: 20px;
    margin-left: 10px;
  }
  body .grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  body .grid .grid-in-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 85%;
    height: 85%;
    gap: 10%;
  }
  body .grid .grid-in-grid .target {
    border-radius: 100%;
    height: 75px;
    width: 75px;
    background: radial-gradient(circle at 100px 100px, #5cabff, #8e7faa);
  }
  body .grid .grid-in-grid .desktop {
    display: unset !important;
  }
  body .start, body .resett {
    font-size: 20px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 700px) {
  body h1 img {
    height: auto;
    width: 200px;
  }
  body h2, body h3, body h4 {
    font-size: 20px;
  }
}
@media screen and (min-width: 900px) {
  body h1 img {
    height: auto;
    width: 225px;
  }
  body h2, body h3, body h4 {
    font-size: 35px;
  }
  body .start, body .resett {
    font-size: 35px;
  }
}
@media screen and (orientation: landscape) and (min-width: 1080px) {
  h1 img {
    height: auto;
    width: 250px;
  }
  h2, h3, h4 {
    font-size: 30px;
  }
  .start, .resett {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .grid .grid-in-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    height: 90%;
    gap: 15%;
  }
  .grid .grid-in-grid .target {
    border-radius: 100%;
    height: 75px;
    width: 75px;
    background: radial-gradient(circle at 100px 100px, #5cabff, #8e7faa);
    margin: auto;
  }
  .grid .grid-in-grid .desktop {
    display: unset !important;
  }
}
@media screen and (orientation: landscape) and (min-height: 550px) {
  h2, h3, h4 {
    font-size: 30px;
  }
  .start, .resett {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .grid .grid-in-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    height: 90%;
    gap: 15%;
  }
  .grid .grid-in-grid .target {
    border-radius: 100%;
    height: 75px;
    width: 75px;
    background: radial-gradient(circle at 100px 100px, #5cabff, #8e7faa);
    margin: auto;
  }
  .grid .grid-in-grid .desktop {
    display: unset !important;
  }
}/*# sourceMappingURL=style.css.map */