@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&family=Space+Mono:wght@700&display=swap');

* {
    font-family: 'Space Grotesk';
    margin: 0;
    padding: 0;
    cursor: crosshair;
    font-size: 17px;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 15fr 1fr;
    background-image: url("./pics/pastgrad.jpg");
    background-size: 2160px;

    h1 {
        text-align: center;
        color: #966fd6;
        // font-size: 23px;
    }

    .infobar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #3D426B;
    }

    .start-div {
        text-align: center;
        // border: 2px solid black;
        width:100%
    }

    .bottom-nav-bar {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .start {
            text-align: center;
            border-radius: 30%;
            padding: 5px 12px 5px 12px;
            background: radial-gradient(circle at 100px 100px, white, #F8F0E3);
            color: #706A55;
            border: 2px solid #C4A484;
        }

        .resett {
            text-align: center;
            border-radius: 30%;
            padding: 5px 12px 5px 12px;
            background: radial-gradient(circle at 100px 100px, white, #F8F0E3);
            color: #706A55;
            border: 2px solid #C4A484;
        }
    }

    .grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // border: 2px solid black;

        .grid-in-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            // border: 1px solid black;
            width: 90%;
            height: 90%;
            gap: 15%;
    
            .target {
                border-radius: 100%;
                height: 75px;
                width: 75px;
                background: radial-gradient(circle at 100px 100px, #5cabff, #8e7faa);
                margin:auto;
            }

            .desktop {
                display: none;
            }
        }
    }
}

@media screen and (orientation:portrait) and (max-width: 540px) {
    body {
        background-image: url("./pics/abstract\ vector.jpg");
        background-size: 820px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 10fr 1fr;

        h1 {
            font-size: 25px;;
        }

        .infobar {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;

            h2, h3, h4 {
                font-size: 20px;
                margin-left: 10px;
            }
        }
            .grid {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                // border: 2px solid black;
        
                .grid-in-grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                    width: 85%;
                    height: 85%;
                    gap: 10%;
                    // border: 2px solid black;
            
                    .target {
                        border-radius: 100%;
                        height: 75px;
                        width: 75px;
                        background: radial-gradient(circle at 100px 100px, #5cabff, #8e7faa);
                    }

                    .desktop {
                        display: none;
                    }
                }
            }
        
        .start, .resett {
            font-size: 20px;
            margin-bottom: 0;
        }
    }
}

@media screen and (orientation: portrait) and (min-width: 540px) {
    body {
        background-image: url("./pics/abstract\ vector.jpg");
        background-size: 820px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 10fr 1fr;

        h1 {
            font-size: 25px;;
        }

        .infobar {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;

            h2, h3, h4 {
                font-size: 20px;
                margin-left: 10px;
            }
        }
            .grid {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                // border: 2px solid black;
        
                .grid-in-grid {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr 1fr;
                    width: 85%;
                    height: 85%;
                    gap: 10%;
                    // border: 2px solid black;
            
                    .target {
                        border-radius: 100%;
                        height: 75px;
                        width: 75px;
                        background: radial-gradient(circle at 100px 100px, #5cabff, #8e7faa);
                    }

                    .desktop {
                        display: unset !important;
                    }
                }
            }
        
        .start, .resett {
            font-size: 20px;
            margin-bottom: 0;
        }
    }
}


@media screen and (min-width: 900px) {

    h1 {
        font-size: 20px;
    }

    h2, h3, h4 {
        font-size: 20px;
    }
}

@media screen and (min-width: 700px) {

    h1 {
        font-size: 25px;
    }

    h2, h3, h4 {
        font-size: 20px;
    }
}

@media screen and (min-width: 900px) {

    h1 {
        font-size: 30px;
    }

    h2, h3, h4 {
        font-size: 25px; 
    }

    .start, .resett {
        font-size: 25px;
    }
}

@media screen and (orientation: landscape) and (min-width: 1080px) {
    h1 {
        font-size: 35px;
    }

    h2, h3, h4 {
        font-size: 30px; 
    }

    .start, .resett {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // border: 2px solid black;

        .grid-in-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            // border: 1px solid black;
            width: 90%;
            height: 90%;
            gap: 15%;
    
            .target {
                border-radius: 100%;
                height: 75px;
                width: 75px;
                background: radial-gradient(circle at 100px 100px, #5cabff, #8e7faa);
                margin: auto;
            }

            .desktop {
                display: unset !important;
            }
        }
    }
}

@media screen and (orientation: landscape) and (min-height: 550px) {
    h1 {
        font-size: 35px;
    }

    h2, h3, h4 {
        font-size: 30px; 
    }

    .start, .resett {
        font-size: 25px;
        margin-bottom: 15px;
    }

    .grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        // border: 2px solid black;

        .grid-in-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            // border: 1px solid black;
            width: 90%;
            height: 90%;
            gap: 15%;
    
            .target {
                border-radius: 100%;
                height: 75px;
                width: 75px;
                background: radial-gradient(circle at 100px 100px, #5cabff, #8e7faa);
                margin: auto;
            }

            .desktop {
                display: unset !important;
            }
        }
    }
}